Links like http://python.org/sf/1541697 no longer work

There are many such links in Python tests and Misc/HISTORY, and they can occur in mail archives, so it is better to fix the redirection even if we fix links in Python sources.
```
$ find */ -type f -exec egrep 'python.org/sf/' '{}' +
Lib/test/test_lib2to3/data/py3_test_grammar.py:        # A rough test of SF bug 1333982.  https://python.org/sf/1333982
Lib/test/test_lib2to3/data/py2_test_grammar.py:        # A rough test of SF bug 1333982.  https://python.org/sf/1333982
Lib/test/test_fileio.py:            # SF bug <http://www.python.org/sf/801631>
Lib/test/test_getopt.py:        # http://python.org/sf/126863
Lib/test/test_file.py:        # SF bug <http://www.python.org/sf/801631>
Lib/test/test_urllib2.py:        # response (http://python.org/sf/1479302), where it should instead
Lib/test/test_urllib2.py:        # Also (http://python.org/sf/14797027, RFC 2617 section 1.2), we must
Lib/test/crashers/infinite_loop_re.py:# This was taken from http://python.org/sf/1541697
Lib/test/test_ctypes/test_functions.py:        # see https://www.python.org/sf/1651235
Lib/test/test_ctypes/test_loading.py:        # These are tests for https://www.python.org/sf/1703286
Lib/test/test_grammar.py:        # A rough test of SF bug 1333982.  http://python.org/sf/1333982
Lib/test/test_configparser.py:        # http://www.python.org/sf/583248
Lib/test/test_configparser.py:        # See http://www.python.org/sf/511737
Lib/test/test_pyexpat.py:        # http://python.org/sf/1296433
Lib/test/test_descr.py:        # http://python.org/sf/1174712
Lib/test/test_set.py:        # bug:  www.python.org/sf/1576657
Misc/HISTORY:  report <http://www.python.org/sf/693121>.
Misc/HISTORY:  microsecond <http://www.python.org/sf/661086>.  This repairs an
Misc/HISTORY:  also SF bug report <http://www.python.org/sf/660872>.
Misc/HISTORY:  (see <http://www.python.org/sf/680789>).
Misc/HISTORY:  <http://www.python.org/sf/680789>).
Misc/HISTORY:  does not.  See <http://www.python.org/sf/587076> for full details.
Modules/gc_weakref.txt:    https://www.python.org/sf/1055820
```